*{
    margin: 0px;
    padding: 0px;
}


.calender{
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}
.calender-header{
    margin:20px 10% 20px 4%;
    font-weight: normal;
}
.calender-img{
    position: relative;
    width: 200px;
    height:180px;
    margin:15px 10% 10px 4%;
    
}

.calender-time{
    position: absolute;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    top: 44%;
    left: 40%;
    background-color:#90B27A ;
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 4px;
    width: 15px;
    height: 14px;
}

.calender-time2{
    position: absolute;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    top: 30%;
    left: 30%;
    background-color: #cdd5db; 
    color: rgba(0, 0, 0, 0.452); 
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 6px;
    width: 12px;
    height: 14px;
}

.calender-time3{
    position: absolute;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    top: 30%;
    left: 14%;
    background-color: #cdd5db; 
    color: rgba(0, 0, 0, 0.452); 
    border-radius: 50%;
    padding-top: 4px;
    padding-left: 6px;
    width: 12px;
    height: 14px;
}

.calender-button{
    width: 200px;
    height: 150px;
    text-align:center;

}

.calender-button input {
    width: 50px;
    height: 25px;
    margin :4px;
    font-size: 11px;
    border-radius: 7px;
    border-color:white ;
    border:none;
    outline: none;

}

#ten {
    background-color: #c4d0d9c5;
    color: rgba(0, 0, 0, 0.575);
}

#twelve {
    background-color: #90B27A;
    color: white;
}

#two {
    background-color: #c4d0d948;
    color: rgba(0, 0, 0, 0.3);
}

#four {
    background-color: #c4d0d9c5; 
    color: rgba(0, 0, 0, 0.575);   
}

#book {
    background-color: #90B27A;
    color: white;
    border-radius: 4px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
}